################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Employee_Management/.vs/Employee_Management/v16
